docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g)'
}

process {
  container = params.container
  withName: 'CROP_AND_FILTER' {
    container = params.crop_filter_container
  }
  withName: 'RGCI_SEG' {
    container = params.seg_container
    containerOptions = params.seg_device == 'cuda' ? '--runtime=nvidia -e NVIDIA_VISIBLE_DEVICES=all -e NVIDIA_DRIVER_CAPABILITIES=compute,utility' : ''
  }
}
